/* colors:: https://coolors.co/e8f1f2-15b097-513c2c-28190e-044389 */

@font-face {
    font-family: 'RobotoBold';
    src: url('fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
}

body, p, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

#mainContainer {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: max(18vw,260px) 82vw;
    grid-template-rows: 8vh 10vh 82vh;
    flex-direction: column;
}

#mainContentWindow {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    background: rgb(234, 230, 229);
}

/* #region Desktop Side Bar */

#profPicOverlay {
    position: absolute;
    background-image: url("assets/IMG_5527.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 1;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    width: 400px;
    min-width: 400px;
    aspect-ratio: 1 / 1;
    display: none;
    flex-direction: column;
    margin-top: 10vh;
    margin-left: max(260px, 40vw);
    gap: 2%;
    cursor: pointer; 
}

#sideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(143, 128, 115);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    color: rgb(232, 241, 242);
    font-family: 'Roboto';
}

#profPic {
    height: 30%;
    width: 80%;
    aspect-ratio: 1 / 1;
    margin-top: 5vh;
    border-radius: 50%;
    cursor: pointer; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#profName {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
    font-size: x-large;
    font-family: 'RobotoBold';
}

#sideBarLinks {
    height: 60%;
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 8vh;
    font-size: medium;
}

#sideBarLinks p {
    cursor: pointer; 
}

#sideBarSocials {
    height: 10%;
    display: flex;
    gap: 0.8rem;
    font-size: medium;
}

#sideBarSocials a {
    width: 100%;
    height: 100%;
}

.linkedInImg, .githubImg {
    height: 70%;
    aspect-ratio: 1 / 1;
}

/* #endregion */

/* #region Mobile Header Bar */

#mobileHeaderBar {
    background: rgb(81, 60, 44);
    width: 100%;
    height: 20%;
    font-family: 'Roboto';
    display: none;
    grid-template-columns: 33vw 33vw 33vw;
    grid-template-rows: 45% 45% 10%;
    color: rgb(232, 241, 242);
}

#mobileProfPicWrapper {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#mobileProfPic {
    width: 30vw;
    aspect-ratio: 1 / 1;
    margin-top: 2vh;
    border-radius: 50%;
}

#mobileProfNameWrapper {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -2vh;
    width: 100%;
    height: 100%;
}

#mobileProfName {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
    font-size: x-large;
    font-family: 'RobotoBold';
    font-size: 3rem;
}

#mobileLinkedInImgButton {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
}

#mobileGithubImgButton {
    margin-bottom: 2vh;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mobileLinkedInImgButton .linkedInImg, #mobileGithubImgButton .githubImg {
    margin-left: 5vw;
    height: 70%;
}

/* #endregion */

/* #region Desktop Header Bar */

#headerBar {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#headerBarTitle {
    font-family: 'RobotoBold';
    font-size: xx-large;
    margin-left: 2rem;
}

/* #endregion */

/* #region Mobile Nav Bar */
#mobileNavBar {
    height: 3vh;
    width: 100vw;
    background-color: rgb(21, 176, 151);
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#mobileNavBarMenuDropDownButton {
    background-color:  rgb(21, 176, 151);
    color: white;
    font-weight: bold;
    text-decoration:underline;
    font-size: 2.2rem;
    border: none;
    cursor: pointer;
    height: 100%;
}
  
#mobileNavBarMenuDropDown {
    position: relative;
    display: inline-block;
}
  
#mobileNavBarMenuDropDown-content {
    font-family: 'Roboto';
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 33vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
#mobileNavBarMenuDropDown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 2.2rem;
    text-align: center;
}

#mobileNavBarMenuDropDown-content p:hover {background-color: #f1f1f1}
  
#mobileNavBarMenuDropDown:hover #mobileNavBarMenuDropDown-content {
    display: block;
}

#mobileNavBarMenuDropDown:hover #mobileNavBarMenuDropDownButton {
    background-color: #3e8e41;
}

#mobileNavBarMenuDropDownSymbol {
    color: white;
    font-size: 1.2rem;
}

#mobileHomeLink {
    display: none;
}

/* #endregion */

#homePicture {
    max-height: 80vh;
    aspect-ratio: 1/1;
    position: absolute;
    top: 15vh;
    left: 55vw;
    border-radius: 15px;
}

#homeCard {
    display: none;
    background-color: rgb(21, 176, 151);
    width: 60vw;
    height: 52vh;
    position: absolute;
    border-radius: 15px;
    top: 43vh;
    left: 29vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}