/* colors:: https://coolors.co/12130f-5b9279-8fcb9b-bdd9c0-eae6e5-bdb3ac-8f8073 */

@font-face {
    font-family: 'RobotoBold';
    src: url('fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
}

body {
    position: relative;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    width: 100%;
}

body.portrait {
    position: fixed;
}

html, body, p, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

#mainContainer {
    display: grid;
    position: relative;
    min-width: 100vw;
    width: fit-content;
    max-height: 100vh;
    min-height: 700px;
    grid-template-columns: max(18%,260px) 82%;
    grid-template-rows: 8% 10% 82%;
    flex-direction: column;
}

#mainContainer.portrait {
    position: fixed;
    height: 100vh;
    max-height: 999vh;
}

#mainContentWindow {
    width: 100%;
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    background: rgb(234, 230, 229);
    overflow-y: scroll;
}

#maskOverlay {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    display: none;
    right:0;
    width: 100%;
    height: 100%;
    background-color:#fff;
    opacity:0.8;
    z-index:9;
}

#pictureOverlay {
    position: absolute;
    background-image: url("assets/IMG_5527.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 10;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    width: 33vw;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    aspect-ratio: 1 / 1;
    display: none;
    cursor: pointer; 
}

#pictureOverlay.screenShot {
    border-width: 2px;
    border-radius: 2rem;
    width: 40vw;
}

/* #region Desktop Side Bar */

#sideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(143, 128, 115);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    color: rgb(232, 241, 242);
    font-family: 'Roboto';
    overflow-y: scroll;
}

#profPic {
    height: 30%;
    width: 80%;
    aspect-ratio: 1 / 1;
    margin-top: 5vh;
    border-radius: 50%;
    cursor: pointer; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#profName {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vh;
    font-size: x-large;
    font-family: 'RobotoBold';
}

#sideBarLinks {
    height: 60%;
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 8vh;
    font-size: medium;
}

#sideBarLinks p {
    cursor: pointer; 
}

#sideBarSocials {
    height: 10%;
    display: flex;
    gap: 0.8rem;
    font-size: medium;
}

#sideBarSocials a {
    width: 100%;
    height: 100%;
}

.linkedInImg, .githubImg {
    height: 70%;
    aspect-ratio: 1 / 1;
}

/* #endregion */

/* #region Portrait Header Bar */

#portraitHeaderBar {
    background: rgb(143, 128, 115);
    width: 101%;
    height: 20%;
    font-family: 'Roboto';
    display: none;
    grid-template-columns: 33vw 33vw 33vw;
    grid-template-rows: 50% 50%;
    color: rgb(232, 241, 242);
}

#portraitProfPicWrapper {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#portraitProfPic {
    height: 70%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

#portraitProfNameWrapper {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 100%;
}

#portraitProfName {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    font-family: 'RobotoBold';
    font-size: 3rem;
}

#portraitLinkedInImgButton {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

#portraitGithubImgButton {
    margin-bottom: 2%;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#portraitLinkedInImgButton .linkedInImg, #portraitGithubImgButton .githubImg {
    margin-left: 5vw;
    height: 70%;
}

/* #endregion */

/* #region Desktop Header Bar */

#headerBar {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url("./assets/background.png");
    background-position: 250px;
    background-repeat: no-repeat;
    background-size: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#headerBarTitle {
    font-family: 'RobotoBold';
    font-size: xx-large;
    margin-left: 2rem;
    background-color: white;
    border: none;
}

/* #endregion */

/* #region Portrait Nav Bar */
#portraitNavBar {
    height: 3vh;
    width: 101vw;
    background-color: rgb(189, 179, 172);
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#portraitNavBarMenuDropDownButton {
    background-color:  rgb(189, 179, 172);
    color: white;
    font-weight: bold;
    text-decoration:underline;
    font-size: 2.2rem;
    border: none;
    cursor: pointer;
    height: 100%;
}
  
#portraitNavBarMenuDropDown {
    position: relative;
    display: inline-block;
}
  
#portraitNavBarMenuDropDown-content {
    font-family: 'Roboto';
    display: none;
    position: absolute;
    left: 50%; 
    transform: translate(-50%, 0);
    background-color: #f9f9f9;
    min-width: 33vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
}
  
#portraitNavBarMenuDropDown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 2.2rem;
    text-align: center;
}

#portraitNavBarMenuDropDown-content p:hover {background-color: #f1f1f1}

#portraitNavBarMenuDropDown:hover #portraitNavBarMenuDropDownButton {
    background-color: rgb(189, 179, 172);
}

#portraitNavBarMenuDropDownSymbol {
    color: white;
    font-size: 1.2rem;
}

#portraitHomeLink {
    display: none;
}

/* #endregion */

/* #region Desktop Home */
#homePageContent {
    height: 100%;
}

#desktopHomePageContent {
    height: 100%;
}

#desktopHomePageContent.portrait {
    background-color: rgb(234, 230, 229);
    width: 101vw;
    height: 150%;
    position: relative;
    background-image: url("./assets/background.png");
    background-position: 0px;
    background-repeat: repeat;
    background-size: 30vh 30vh;
    overflow-y: scroll;
}

#homePicture {
    height: max(40vw, 60vh);
    aspect-ratio: 1/1;
    position: absolute;
    top: 15vh;
    left: max(55vw, 520px);
    border-radius: 15px;
}

#homePicture.portrait {
    border-radius: 0;
    margin-top: 5rem;
    width: 101vw;
    height: 101vw;
    left: 0;
    top: 0;
}

#homeTitleBlock {
    min-width: 260px;
    width: fit-content;
    color: rgb(18, 19, 15);
    font-family: 'Roboto';
    position: absolute;
    top: 10rem;
    left: max(27vw, 300px);
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    gap: 1rem;
}

#homeTitleBlock.portrait {
    width: fit-content;
    color: rgb(18, 19, 15);
    font-family: 'Roboto';
    position: absolute;
    top: 5vh;
    left: 3vw;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    gap: 1rem;
}

#homeTitleBlock p {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    background-color: rgb(143, 203, 155);
}

#portraitHomeTitleBlock p.portrait {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

#homeTextBlock {
    background-color: whitesmoke;
    font-family: 'Roboto';
    position: absolute;
    width: 25rem;
    border-radius: 15px;
    top: 55vh;
    left: max(23vw, 300px);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-wrap: wrap;
    padding: 1rem;
    font-size: larger;
}

#homeTextBlock.portrait {
    background-color: whitesmoke;
    font-family: 'Roboto';
    position: absolute;
    width: 80vw;
    min-width: 300px;
    height: fit-content;
    border-radius: 15px;
    top: 45vh;
    left: 5vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-wrap: wrap;
    padding: 1rem;
    font-size: 3rem;
}

@media (max-width: 1100px) {
    #homeTitleBlock {
        font-size: 1.4rem;
    }

    #homeTextBlock {
        font-size: medium;
    }
}
/* #endregion */

/* #region Desktop Edu */

#eduPageContent {
    height: 100%;
    display: none;
}

#desktopEduPageContent.portrait {
    width: 95%;
}

#educationContainer {
    min-width: 1160px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 40%;
    grid-auto-rows: 40%;
    grid-auto-flow: dense;
    gap: 5rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

#educationContainer.portrait {
    min-width: 0;
    grid-template-columns: 95%;
    grid-template-rows: 650px;
    grid-auto-rows: 650px;
}

@media (max-width: 1150px) {
    #educationContainer {
        grid-template-columns: 40%;
    }
}

#educationTitle, #skillsTitle {
    font-family: 'RobotoBold';
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 3rem;
    color: rgb(49, 54, 57);
}

#educationTitle.portrait, #skillsTitle.portrait {
    font-size: 4rem;
}

#skillsTitle.portrait {
    margin-top: 7rem;
}

.eduCard {
    width: 500px;
    height: 250px;
    background-color: whitesmoke;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 2rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 1rem;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 75% 25%;
}

.eduCard.portrait {
    width: 100%; 
    height:100%;
}

.eduCardTitles {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.eduCardImage {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    max-width: 100px;
    aspect-ratio: 1 / 1;
    margin-top: 1rem;
    margin-right: 1.5rem;
}

.eduCardImage.portrait {
    max-width: 200px;
}

.univTitle {
    font-size: 1.2rem;
    font-family: 'RobotoBold';
    margin-bottom: 5px;
}

.univTitle.portrait {
    font-size: 2.7rem;
}

.degreeTitle {
    font-size: 1rem;
    font-family: 'RobotoBold';
}

.degreeTitle.portrait {
    font-size: 2.2rem;
}

.honorsTitle {
    font-size: 0.88rem;
    font-family: 'Roboto';
}

.honorsTitle.portrait {
    font-size: 2rem;
}

.eduCardDesc {
    font-size: 0.88rem;
    font-family: 'Roboto';
    margin-top: 0.6rem;
    margin-right: 5px;
}

.eduCardDesc.portrait {
    font-size: 2rem;
    margin-top:3rem;
}

.eduCardNotableContainer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 5px;
}

.eduCardNotableCourseList {
    display: flex;
    flex-direction: row;
    list-style-type: square;
    gap: 2rem;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 1rem;
}

.eduCardNotable {
    font-family: 'Roboto';
    text-decoration: underline;
}

.eduCardNotable.portrait, .eduCardNotableCourseList li.portrait{
    font-size: 1.8rem;
    min-width:410px;
    max-width:410px;
}

.eduCardNotableCourseList li {
    font-size: 0.88rem;
    font-family: 'Roboto';
    min-width: 210px;
}

#skillsContainer {
    min-width: 1160px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 40%;
    grid-auto-rows: 40%;
    grid-auto-flow: dense;
    gap: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    padding-bottom: 300px;
}

#skillsContainer.portrait {
    min-width: 0;
    grid-template-columns: 40% 40%;  
    grid-template-rows: 400px;
    grid-auto-rows:400px;
    gap:5rem;
    padding-bottom: 600px;
}

@media (max-width: 1150px) {
    #skillsContainer {
        grid-template-columns: 20% 20%;
        grid-template-rows: 30%;
        grid-auto-rows: 30%;
    }
}

.skillCard {
    width: 200px;
    height: 100px;
    background-color: whitesmoke;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 2rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 1rem;
}

.skillCard.portrait {
    width: 100%; 
    height:100%;
}

.skillTitle {
    width: 100%;
    text-align: center;
    text-decoration: underline;
    font-family: 'RobotoBold';
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.skillTitle.portrait {
    font-size: 2.6rem;
}

.skillList {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    list-style-type: square;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.skillList li {
    font-size: 0.88rem;
    font-family: 'Roboto';
    max-width: 175px;
    margin-left: 33px;
}

.skillList li.portrait {
    font-size: 2rem;
    min-width:310px;
    max-width:310px;
}

/* #endregion */

/* #region Desktop Exp */
#expPageContent {
    height: 100%;
    display: none;
}

#desktopExpPageContent {
    padding-left: 2rem;
    padding-right: 2rem;
    height: 100%;
}

.expSection { 
    margin-top: 1rem;
    height: fit-content;
}

.expTitleSection {
    display: flex;
    flex-direction: row;
    width: 90%;
    min-width: 550px;
    justify-content: space-between;
    align-items: center;
}

.expTitleSection.portrait {
    width: 100%;
}

.expTitle {
    font-family: 'RobotoBold';
    font-size: 2rem;
}

.expTitle.portrait {
    font-size: 4rem;
}

.expLink {
    font-size: 0.8rem;
}

.expLink.portrait { 
    font-family:'Times New Roman', Times, serif;
    font-size: 1.8rem;
}

.expJob {
    font-family: 'Roboto';
    font-size: 1.2rem;
}

.expJob.portrait {
    margin-top: 10px;
    font-size: 2rem;
}

.expDate, .expDesc {
    font-family: 'Roboto';
    font-size: 1rem;
}

.expDate.portrait {
    font-size: 1.7rem;
    max-width: 75%;
}

.expDesc.portrait {
    margin-top: 2rem;
    font-size: 1.7rem;
}

.expImage {
    height: 8rem;
}

.expCards {
    min-width: 1160px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-template-rows: 50%;
    grid-auto-rows: 50%;
    grid-auto-flow: dense;
    gap: 1rem;
    margin-top: 2rem;
}

.expCards.portrait  {
    min-width: 0;
    grid-template-columns: 95%;  
    grid-template-rows: 400px;
    grid-auto-rows:400px;
    gap:5rem;
}

@media (max-width: 1180px) {
    .expCards {
        grid-template-columns: 31% 31% ;
        grid-template-rows: 50%;
        grid-auto-rows: 50%;
    }
}

.expCard {
    width: 300px;
    height: 200px;
    background-color: whitesmoke;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 2rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 1rem;
}

.expCard.portrait {
    width: 100%; 
    height:100%;
}

.expCardSkillTitle {
    font-family: 'Roboto';
    font-size: 1.2rem;
    text-decoration: underline;
}

.expCardSkillTitle.portrait { 
    font-size: 2.2rem;
    margin-left: 1rem;
}

.expCardSkillList li {
    font-family: 'Roboto';
    font-size: 1rem;
}

.expCardSkillList li.portrait {
    font-size: 2rem;
}

.expCardSkillList {
    list-style-type: square;
    padding-left: 1rem;
    margin-top: 5px;
    margin-left: 5px;
}

.expCardSkillList.portrait {
    margin-top: 1rem;
    margin-left: 1rem;
}

.expSectionBreak {
    margin-top: 2rem;
    height: 0.2rem;
    width: 100%;
    background-color: gray;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.expSectionBreak.portrait {
    margin-bottom: 2rem;
}

@media (max-width: 1180px) {
    .expSectionBreak {
        margin-top: 4rem;
    }
}

.expSectionBuffer {
    width: 100%;
    height: 300px;
}

.expSectionBuffer.portrait {
    height: 500px;
}

/* #endregion */

/* #region Desktop contact */

#contPageContent {
    width: 100%;
    height: 100%;
    display: none;
    overflow-y: scroll;
}

#contPageContent.portrait {
    position: relative;
    height: 2100px;
}

#contactTitleBlock, #contPageContentReceiptTitleBlock {
    min-width: 400px;
    width: fit-content;
    color: rgb(18, 19, 15);
    font-family: 'Roboto';
    position: absolute;
    top: 6rem;
    left: max(27vw, 300px);
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    gap: 1rem;
    z-index: 1;
}

#contactTitleBlock.portrait, #contPageContentReceiptTitleBlock.portrait {
    font-size: 4rem;
    left: 3vw;
}

#contactTitleBlock p {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    background-color: rgb(143, 203, 155);
}

#contactFormContainer {
    position: absolute;
    top: 200px;
    left: max(300px, 40%);
    width: 550px;
    height: 500px;
    background-color: rgb(189, 179, 172);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-width: 2px;
    border-radius: 2rem;
}

#contactFormContainer.portrait {
    top: 25vh;
    left: 5vw;
    width: 90%;
    height: 1200px;
}

#contactFormContainer form {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
}

#contactFormContainer form.portrait {
    font-size: 3rem;
}

#contactFormContainer form input.portrait {
    font-size: 3rem;
    height: 3rem;
}

#msg {
    height: 200px;
}

#msg.portrait {
    font-size: 3rem;
    height: 450px;
}

#submit {
    width: fit-content;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-width: 2px;
    border-radius: 0.76rem;
    margin-left: 170px;
}

#contactFormContainer form #submit.portrait {
    width: fit-content;
    height: fit-content;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 3rem;
    margin-left: 260px;
}

/* #endregion */

/* #region Desktop project */

#projPageContent {
    height: 100%;
    display: none;
}

#desktopProjPageContent {
    padding-left: 2rem;
    padding-right: 2rem;
    height: 100%;
}

.projSection { 
    margin-top: 1rem;
    height: fit-content;
}

.projTitleSection {
    width: 90%;
    min-width: 550px;
}

.projTitle {
    font-family: 'RobotoBold';
    font-size: 2rem;
}

.projTitle.portrait {
    font-size: 4rem;
}

.projShortDesc {
    font-family: 'Roboto';
    font-size: 1.3rem;
}

.projShortDesc.portrait {
    font-size: 2.6rem;
}

.projDate {
    font-family: 'Roboto';
    font-size: 1rem;
}

.projDate.portrait {
    font-size: 2rem;
}

.projDesc {
    font-family: 'Roboto';
    font-size: 1rem;
    max-width: 600px;
}

.projDesc.portrait {
    max-width: 80%;
    font-size: 2rem;
}

.projScreenShotTitle, .projLinksTitle, .projSkillsTitle{
    font-family: 'Roboto';
    font-size: 1.3rem;
    text-decoration: underline;
    margin-bottom: 10px;
}

.projScreenShotTitle.portrait, .projLinksTitle.portrait, .projSkillsTitle.portrait {
    font-size: 2.6rem;
}

.projLinks {
    padding-left: 1rem;
    margin-top: 5px;
    margin-left: 5px;
}

.projLinks.portrait {
    margin-left: 1.75rem;
}

.projLinks ul {
    list-style-type: square;
}

.projLinks ul li {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
}

.projLinks ul li.portrait {
    font-size: 2.6rem;
}

.projScreenShots {
    min-width: 1160px;
    width: 100%;
    min-height: 400px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px;
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
    gap: 3rem;
    margin-top: 2rem;
}

.projScreenShots.portrait {
    grid-template-columns: 33% 33%;
    grid-template-rows: 400px;
    grid-auto-rows: 400px;
}

@media (max-width: 900px) {
    .projScreenShots {
        grid-template-columns: 200px 200px;
        grid-template-rows: 200px;
        grid-auto-rows: 200px;
    }
}

.projScreenShot {
    width: 100%;
    aspect-ratio: 1 / 1;
    cursor: pointer; 
}

.projSkills {
    display: grid;
    list-style-type: square;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 5rem;
    grid-auto-rows: 5rem;
    gap: 2rem;
    margin-left: -1.75rem;
}

.projSkills.portrait {
    display: grid;
    max-width: 100vw;
    min-width: 100vw;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 9rem;
    grid-auto-rows: 9rem;
    gap: 5rem;
    margin-left: -1.75rem;
}

.projSkills li {
    display: list-item;
    font-family: 'Roboto';
    font-size: 1.3rem;
    min-width: 200px;
    max-width: 200px;
    margin-left: 33px;
}

.projSkills li.portrait {
    font-size: 2.6rem;
    margin: 0 3rem;
    min-width: 100%;
    max-width: 100%;
}

/* #endregion */